<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CredentialMapper">
    <resultMap id="CredentialMapper" type="pojo.Credential">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="publicKey" column="public_key" jdbcType="BLOB"/>
    </resultMap>

    <select id="getCredentialsByName" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE user_id = (SELECT id FROM user WHERE name = #{username})
    </select>
</mapper>