<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CredentialMapper">
    <resultMap id="CredentialMapper" type="pojo.Credential">
        <id property="id" column="id"/>
        <result property="credentialId" column="credentialId" jdbcType="BLOB"/>
        <result property="userId" column="userId"/>
        <result property="userHandle" column="userHandle" jdbcType="BLOB"/>
        <result property="publicKeyCose" column="publicKeyCose" jdbcType="BLOB"/>
        <result property="signatureCount" column="signatureCount"/>
    </resultMap>

    <select id="getCredentialById" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE id = #{id};
    </select>

    <select id="getCredentialByCredentialId" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE credentialId = #{credentialId};
    </select>

    <select id="getCredentialByUserId" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE userId = #{userId};
    </select>

    <select id="getCredentialByUserHandle" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE userHandle = #{userHandle};
    </select>

    <select id="getCredentialByPublicKeyCose" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE publicKeyCose = #{publicKeyCose};
    </select>

    <select id="getCredentialsByUserName" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE userId = (SELECT userId FROM fidouser WHERE userName = #{userName});
    </select>

    <select id="getCredentialByCredentialIdAndUserHandle" resultMap="CredentialMapper">
        SELECT *
        FROM credential
        WHERE credentialId = #{credentialId} and userHandle = #{userHandle};
    </select>


    <insert id="insertNewCredential" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO credential(credentialId, userId, userHandle, publicKeyCose, signatureCount)
        VALUES(#{credentialId}, #{userId}, #{userHandle}, #{publicKeyCose}, #{signatureCount});
    </insert>
</mapper>