<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.FidoUserMapper">
    <resultMap id="fidoUserResultMap" type="pojo.FidoUser">
        <id property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="userHandle" column="userHandle" jdbcType="BLOB"/>
    </resultMap>

    <select id="getUserByID" resultMap="fidoUserResultMap">
        SELECT *
        FROM fidouser
        WHERE userId = #{userId};
    </select>

    <select id="getUserByName" resultMap="fidoUserResultMap">
        SELECT *
        FROM fidouser
        WHERE userName = #{userName};
    </select>

    <select id="getUserByHandle" resultMap="fidoUserResultMap">
        SELECT *
        FROM fidouser
        WHERE userHandle = #{userHandle};
    </select>

    <insert id="insertNewUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT
        INTO fidouser(userName, userHandle)
        VALUES (#{userName}, #{userHandle});
    </insert>
</mapper>